<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 Email Jeffrey Gu at <a href="jgu@jeffreygu.com">jgu@jeffreygu.com</a>. Likewise, you can visit his site at <a href="http://www.jeffreygu.com">www.jeffreygu.com</a>.
</p>